.wrapper {
  width: 100%;
  height: 770px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.contact-us-container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

label {
  width: 100px;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
}

input[type="text"],
input[type="email"],
textarea {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 300px;
}

textarea {
  height: 100px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.contact-icons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.contact-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.response {
  margin-top: 20px;
}
