.app-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 770px; 
}

.left-content   {
  display: flex;
  justify-content: center;
}

.left-content  img {
  max-width: 50%;
  height: auto;
  position: absolute;
  bottom: 70px;
}


.inner{
  width:400px;
  text-align: center;
  justify-content: center;
}

.right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  text-align: center;
}