  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.footer{
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: var(--footer-gray);
  padding: 10px;

}

a {
  color: var(--orange);
  text-decoration: none;
}

a:hover {
  color: var(--hover-red);
}

.copyright{
  font-size: 10px;
}