  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.footer{
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: #eee;
  padding: 10px;

}

a {
  color: #d77f1b;
  text-decoration: none;
}

a:hover {
  color: #a50303e4;
}

.copyright{
  font-size: 10px;
}