.small-sup {
	font-size: 0.2em; /* Adjust this value as needed */
	vertical-align: super;

}

.table {
	width: 500px;
	display: flex;
	flex-direction: column;
  }
  
  .row {
	display: flex;
	width: 100%;
  }
  
  .button-container {
	flex: 1;
	display: flex;
	width: 100%;
  }
  
  .display {
	border-radius: 0;
	padding: 0;
	border: 1px solid darkslategray;

  }

  .button {
	flex: 1;
	transition: background-color 0.3s;
	background-color: rgb(240, 225, 196);
	color: darkslategray;
	border: 1px solid gray; 
	cursor: pointer;
	transition: background-color 0.3s;
  }
  

  .rad {
	font-size: 10px;
  }

  input {
	flex: 1;
	height: 40px;
	width: 100%;
	min-width: 0; 
	white-space: nowrap;
  }
  
  input::-webkit-scrollbar {
	width: 8px; 
  }
  
  input::-webkit-scrollbar-thumb {
	background-color: black; 
  }
  
