<h1>{{name}}</h1>

<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Positive Integer:</mat-label>
        <input
          matInput
          type="number"
          formControlName="positiveIntegerValue"
          required
          [class.is-invalid]="form.get('positiveIntegerValue')?.invalid && form.get('positiveIntegerValue')?.touched"
        />
        <mat-error *ngIf="form.get('positiveIntegerValue')?.invalid && form.get('positiveIntegerValue')?.touched">
          Please enter a positive integer.
        </mat-error>
      </mat-form-field>
      &nbsp;       
      &nbsp;
      &nbsp;
      &nbsp;

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Precision (0.000x or x*10^-y):</mat-label>
        <input
          matInput
          type="number"
          formControlName="precisionValue"
          required
          [class.is-invalid]="form.get('precisionValue')?.invalid && form.get('precisionValue')?.touched"
        />
        <mat-error *ngIf="form.get('precisionValue')?.invalid && form.get('precisionValue')?.touched">
          Please enter a valid precision value (0.000x or x*10^-y).
        </mat-error>
      </mat-form-field>
      &nbsp;       
      &nbsp;
      &nbsp;
      &nbsp;
    
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Real Number:</mat-label>
        <input
          matInput
          type="number"
          formControlName="realNumberValue"
          required
          [class.is-invalid]="form.get('realNumberValue')?.invalid && form.get('realNumberValue')?.touched"
        />
        <mat-error *ngIf="form.get('realNumberValue')?.invalid && form.get('realNumberValue')?.touched">
          Please enter a valid real number.
        </mat-error>
      </mat-form-field>
    
      <br>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Calculate and Draw Graph</button>
    </form>
</div>

<div>
  <app-calculator></app-calculator>
</div>

<br>
{{value}}
<br>
<div #graphContainer></div>


<!-- Display data based on the parameter value -->
