<div class="content" role="main">

  <div class="card highlight-card card-small">
    <app-svg-icon id="rocket" iconName="function-svgrepo-com"></app-svg-icon>
    <span>{{head_1}}</span>
  </div>

  <br><br>

  <h2>{{head_2}}</h2>
  
  <br>
  <br>
  <br>
  <br>

  <div class="card-container">
    <a class="card" rel="noopener"  href="/special-function/bessel1">
      <span>{{bessel_1}}</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>

    <!-- <a class="card" rel="noopener"  href="/special-function/bessel2">
      <span>{{bessel_2}}</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" rel="noopener" href="/special-function/bessel3">
      <span>{{bessel_3}}</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a> -->

    <a class="card" rel="noopener" href="/special-function/laguerre">
      <span>{{laguerre}}</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>

    <a class="card" rel="noopener" href="/special-function/legendre">
      <span>{{legendre}}</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" rel="noopener" href="/special-function/jacobi">
      <span>{{jacobi}}</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" rel="noopener" href="/special-function/chebyshev1">
      <span>{{chebyshev_1}}</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" rel="noopener" href="/special-function/chebyshev2">
      <span>{{chebyshev_2}}</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
 
  </div>
</div>

