.table {
	width: 450px;
	display: flex;
	flex-direction: column;
  }
  
  .row {
	display: flex;
	width: 100%;
  }
  
  .button-container {
	flex: 1;
	display: flex;
	width: 100%;
  }
  
  .button {
	flex: 1;
	  transition: background-color 0.3s;
  }
  
  .rad{
	font-size: 10px;
  }


  input {
	flex: 1;
	height: 40px;
	width: 100%;
	min-width: 0; 
	white-space: nowrap;
  }
  
  .input-container {
	flex: 1;
	display: flex;
	align-items: center;
	overflow-x: auto; 
  }
  
  input::-webkit-scrollbar {
	width: 8px; 
  }
  
  input::-webkit-scrollbar-thumb {
	background-color: black; 
  }
  