.icon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 2px;
    cursor: pointer;

  }


.mat-form-field {
  width: 100%;
  max-width: 500px;
  position: relative;
}

.container{
  align-items: center;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
