.icon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 2px;
    cursor: pointer;

  }


.mat-form-field {
  width: 100%;
  max-width: 500px;
  position: relative;
}

.container{
  align-items: center;
  text-align: center;
  height: max-content;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.custom-mat-button {
  background-color: var(--burgundy) !important; 
  color: #fff !important;
}

.custom-mat-button:hover {
  background-color: var(--visited-function) !important;
}

.padding-btn{
  padding-top: 8px;
}

.custom-mat-form-field {
  margin-bottom: 0px; 
}