<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngFor="let input of inputs">
            <mat-form-field appearance="fill" class="form-field mat-form-field">
                <mat-label>{{input.label}}</mat-label>
                    <input
                    matInput
                    type="string"
                    formControlName="{{input.formControlName}}"
                    required
                    [class.is-invalid]="input.isInvalid"
                    />
            
                <mat-error *ngIf="input.isInvalid">
                    {{input.error}}
                </mat-error>
                <img
                src="{{ calculatorIconPath }}"
                alt="Calculator Icon"
                class="icon"
                (click)="showCalculator(input.inputType)"
                type="button"
                matTooltip="{{ calculatorTooltip }}"
                />
            </mat-form-field>
        </div>
        <button mat-raised-button type="submit" [disabled]="form.invalid" class="custom-mat-button"> {{ calculateAndDrawLabel }}</button>
        &nbsp;
        <button mat-raised-button type="button" class="custom-mat-button" (click) = "clearContent()"> {{ clearLabel }}</button>
    </form>

<!-- In this version button is icon next to function name in special-function component -->
<!-- 
    <br>
    <button mat-raised-button (click)="openNewWindow()" class="custom-mat-button">{{ basicInformationsLabel }}</button> -->



    <div class="center" *ngIf = "shouldShowCalculator">
        <app-calculator (calculated)="onCalculated($event)"></app-calculator>
        <br>
        <button mat-raised-button color="primary" (click)="useCalculatedValue()" [disabled]="useCalcValDisabled()">{{ useCalculatedValueLabel }}</button>
      
    </div>
</div>
