<div class="toolbar" role="banner">
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <a href="/homepage"><span><h1>{{title}}</h1></span></a>
      <div class="spacer"></div>

      <button mat-icon-button [matMenuTriggerFor]="languageMenu" class="language-button">
        <span class="language-icon" [ngStyle]="getLanguageIconStyle()"></span>
      </button>
      <mat-menu #languageMenu="matMenu">
        <button mat-menu-item (click)="setLanguage('en')">
          <span class="language-icon" [ngStyle]="getLanguageIconStyle('en')"></span>
          English
        </button>
        <button mat-menu-item (click)="setLanguage('sr')">
          <span class="language-icon" [ngStyle]="getLanguageIconStyle('sr')"></span>
          Serbian
        </button>
      </mat-menu>
</div>
  